{{ define "content" }}
<link rel="stylesheet" href="../static/css/about.css" />

<section class="about-container">
  <h1>About<span class="dot">.</span></h1>

  <p class="intro">{{ .AboutIntro }}</p>
  <p class="about-description">{{ .About }}</p>
  <div class="personal-image">
    <img src="{{ .ImageURL }}" alt="Mohamed Badis Stiti" />
  </div>
  <section class="about-section">
    <h2>Technical & Soft Skills</h2>
    <ul class="skills-list">
      {{ range .Skills }}
      <li class="skill-item">{{ . }}</li>
      {{ end }}
    </ul>
  </section>

<section class="about-section">
  <h2>Experience</h2>
  <ul class="info-list">
    {{ range .Experience }}
    <li class="info-item">
      <strong>{{ .Title }}</strong> at<em>{{ .Company }}</em><br>
      <span>{{ .StartDate }} – {{ .EndDate }}</span><br>
      <p>{{ .Description }}</p>
    </li>
    {{ end }}
  </ul>
</section>

  <a href="../static/maincv.pdf" class="btn-primary" target="_blank" rel="noopener noreferrer">View My Resume</a>

</section>
{{ end }}
